div.card{
  border-width: medium;
  border-style: none;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#botao{
  text-align: center
}

.botao{
  text-align: center
}

#preto{
  background-color: black;
}

#verde{
  background-color: green;
}

#azul{
  background-color: blue;
}

#vermelho{
  background-color: red;
}

#containerMarge{
  margin-top: 2rem;
}
